aws_region           = "us-east-1"
project_name         = "tc5-diagramas"
environment          = "prod"
jwt_secret           = "CqDFIGTKHTJVlkTej5BjDR5FyqRX7R9WfTzmMCpLywNzpVYVrihTyevf7dEb6pVqvbjnJ1mZ"
jwt_issuer           = "tc5-auth"
jwt_audience         = "tc5-api"
db_user              = "admin"
db_password          = "troque-esta-senha"
db_name_autenticacao = "auth_db"
db_name_upload       = "upload_db"
db_name_processamento = "processamento_db"
db_name_relatorio    = "relatorio_db"
table_usuarios       = "usuarios"
